@import "tailwindcss";
@keyframes shimmer {
  0% {
    transform: translateX(-100%) skewX(-12deg);
  }
  100% {
    transform: translateX(200%) skewX(-12deg);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}
/* === Global Gradient Scrollbar === */
.gradient-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.gradient-scrollbar::-webkit-scrollbar-track {
  background: rgb(204, 227, 235);
}

.gradient-scrollbar::-webkit-scrollbar-thumb {
  background: lightblue;
  border-radius: 5px;
}
